defaults:
  - encoder: cnn
  - _self_

_target_: src.models.ksin_flow_matching_module.KSinFlowMatchingModule

scheduler: null

optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  lr: 1e-4
  weight_decay: 0.0

vector_field:
  _target_: src.models.components.residual_mlp.ConditionalResidualMLP
  n_params: 1
  d_model: 128
  d_enc: 128
  conditioning_dim: ${model.encoder.d_model}
  num_layers: 9

# training
cfg_dropout_rate: 0.2

p_time: uniform
w_time: none

coupling: uniform
oversample_ot: 1.0

probability_path: rectified

cfm_sigma: 0.0
fm_sigma: 0.0
rectified_sigma_min: 0.0

# sampling
sample_schedule: linear
validation_sample_steps: 50
validation_cfg_strength: 2.0
test_sample_steps: 200
test_cfg_strength: 2.0

# SYMMETRY DISCOVERY!
freeze_for_first_n_steps: 0

# compile model for faster training with pytorch 2.0
compile: false
