_target_: src.models.ksin_ff_module.KSinFeedForwardModule

optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  lr: 1e-4
  weight_decay: 0.0

scheduler:
  _target_: torch.optim.lr_scheduler.CosineAnnealingLR
  _partial_: true
  T_max: ${trainer.max_epochs}
  eta_min: 1e-6
  last_epoch: -1

net:
  _target_: src.models.components.residual_mlp.SpectralResidualMLP
  in_dim: ${data.signal_length}
  hidden_dim: 1024
  out_dim: ${mul:${data.k},2}

loss_fn: mse

# compile model for faster training with pytorch 2.0
compile: false
