defaults:
  - encoder: cnn
  - _self_

_target_: src.models.ksin_flow_matching_module.KSinFlowMatchingModule

optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  lr: 1e-4
  weight_decay: 0.0

scheduler: null

vector_field:
  _target_: src.models.components.vector_field.VectorField
  field_dim: ${mul:${data.k},2}
  hidden_dim: 2048
  conditioning_dim: ${model.encoder.out_dim}
  num_blocks: 5

# training
cfg_dropout_rate: 0.2

p_time: uniform
w_time: none

coupling: procrustes
oversample_ot: 2.0

probability_path: rectified

cfm_sigma: 0.0
fm_sigma: 0.0
rectified_sigma_min: 0.0

# sampling
sample_schedule: linear
validation_sample_steps: 50
validation_cfg_strength: 4.0
test_sample_steps: 100
test_cfg_strength: 4.0

# compile model for faster training with pytorch 2.0
compile: false
